body {
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
}
.local-present {
  padding-top: 50px;
  width: 100%;
}
.local-casting {
  padding-top: 40px;
  width: 100%;
}
.hours {
  list-style: none;
  font-size: 15px;
}
.days {
  list-style: none;
}

.btn-group {
  padding-inline: 5px;
  border-radius: 6px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 90px;
  width: 90px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weekly {
  margin-top: 75px;
}

.days {
  vertical-align: middle;
  text-align: center;
}

#weekly-header {
  vertical-align: middle;
  text-align: left;
}

#radar-day {
  height: 400px;
  width: 500px;
}

#radar-day img {
  height: fit-content;
  width: 500;
}
